# Flask
SECRET_KEY=changez-moi-en-production
FLASK_ENV=development

# Base de données — laisser vide pour SQLite en dev
# DATABASE_URL=mysql+pymysql://user:password@localhost/ticketsecure

# Mail — Mailhog en dev (mailhog.org)
MAIL_SERVER=localhost
MAIL_PORT=1025
MAIL_USE_TLS=false
# MAIL_USERNAME=
# MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=noreply@ticketsecure.local